<div class="alert" id="lastmsg"></div>
{{#if clients}}
<input id="filter" type="text" class="filter" placeholder="Filter...">
<table id="allitems" class="table">
  <thead align="center">
    <tr>
      <th scope="col"></th>
      <th scope="col">Navn</th>
      <th scope="col">MAC</th>
      <th scope="col">Gruppe</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each clients}}
    <tr align="center" class="tblflt">
      <td><a href="#" id="show_{{this.name}}" style="color: black;">Mer</a></td>
      <td>{{this.name}}</td>
      <td>{{this.mac}}</td>
      <td>
        <select class="form-control" id="sel_{{this.name}}">
          {{#select this.settings}}
          {{#each ../groups}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </td>
      <td>
        <button class="btn btn-dark" value="{{this.name}}">Oppdater</button>
      </td>
      <tr class="more">
        <td class="more" colspan="5">
          <div id="extra_{{this.name}}" class="slider" style="display: none;">
            <p>WS versjon: {{this.wsversion}}</p>
            <p>Sist sett: {{this.lastseen}}</p>
            <p>Siste kjente IP: {{this.lastknownip}}</p>          
          </div>
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  $(document).ready(function () {
    $("#filter").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#allitems tbody tr.tblflt").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $("#lastmsg").hide();
  });
  $("button").click(function () {
    var obj = $(this).val();
    $.ajax({
      type: "PUT",
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      url: "/thinclient/" + obj,
      data: JSON.stringify({
        settings: $("#sel_" + obj).val()
      }),
      success: function (result) {
        $("#lastmsg").removeClass("alert-danger");
        $("#lastmsg").addClass("alert-success");
        $("#lastmsg").html("Oppdaterte <strong>" + obj + "</strong>!");
        $("#lastmsg").show();
      },
      error: function (result) {
        $("#lastmsg").removeClass("alert-success");
        $("#lastmsg").addClass("alert-danger");
        $("#lastmsg").html("Klarte ikke å oppdatere <strong>" + obj + "</strong>!:(");
        $("#lastmsg").show();
      }
    });
  });
  $("a[id^=show_]").click(function (event) {
    $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
    event.preventDefault();
  });
</script>
{{else}}
<div class="empty">
  <p>Ingen data :(</p>
</div>
{{/if}}